.categories {
   color: black;
   font-size: 19.2px;
   font-family: Arial, sans-serif;
   font-weight: 200;
 }
 
 button {
   cursor: pointer;
   outline: none;
 }
 
 body {
   margin: 0;
   padding: 0;
   background: #FCFCF9;
 }