.search{
    display: flex;
    width: 25rem;
}

.search input{
    padding: 0.5rem;
    width: 25rem;
    border-radius: 30px;
    cursor: pointer;
}

.search-logo{
    position:absolute;
    background-color: #EDECE9;
    margin-top: 0.1rem;
    margin-left:0.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    border-radius: 30px;
    padding: 0.5rem;
}

.search-logo:hover{
    background-color: rgb(209, 209, 209);
}