.filter-logo{
    height: 3rem;
    width: 3rem;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    padding: 0.3rem;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
    margin-right: 3rem;
}

.filter-logo:hover{
    background-color: rgb(209, 209, 209);
}

.filter-box{
    position: fixed;
    top: 10rem;
    right: 1rem;
    width: 15rem;
    height: 15rem;
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    z-index: 2;
    cursor:default;
}

.filter-box ul {
    list-style-type: none;
    padding: 0;
}

.filter-box ul li {
    padding: 10px 15px;
    text-align: center;

}

.filter-box ul li{
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: block;
}

.filter-box ul li:hover {
    background-color: #999999;
}

.filter-box p{
    text-align: center;
    padding-bottom: 1rem;
    font-size:larger;
    font-weight: 600;
}